.App {
  text-align: center;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 10px 0;
  color: white;
  width: 100%;
}

.link {
  color: white;
  text-decoration: none;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Footer {
  margin-top: 20px;
  background-color: #222;
  color: white;
  height: 90px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: table;
}

.Footer p {
  display: table-cell;
  vertical-align: middle;
}

.Menu {
  margin: 20;
  padding: 0;
  list-style: none;
}
.Menu li {
  display: inline-block;
  padding-right: 18px;
}
#Resultado {
  margin-right: 10px;
}

/* Conteniner */
.content__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}

.content__container>div{
  padding: 15px;
  border: #222 2px solid;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 5px 0px #ede8ed;
}

.content__container--calculator>input{
  width: 100px;
  display: block;
  margin: 10px auto;
}